Package: Dương Khắc Vũ
Name: Dương Khắc Vũ
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Dương Khắc Vũ
Maintainer: Dương Khắc Vũ
Author: Dương Khắc Vũ
Section: Tweaks
Homepage: none
