Package: Dương Khắc Vũ
Name: Dương Khắc Vũ
Depends: mobilesubstrate
Description: Dương Khắc Vũ
Maintainer: Dương Khắc Vũ
Author: Dương Khắc Vũ
Section: Tweaks
Homepage: none
Architecture: iphoneos-arm
Version: 1.0
Installed-Size: 72
