Package: hahios
Name: FPS Rainbow Color
Depends: mobilesubstrate
Description:HoangAnhHackiPA (HAHiOS)
Maintainer: HoangAnh
Author: HoangAnh
Section: Tweaks
Homepage: none
Architecture: iphoneos-arm
Version: 1.0
Installed-Size: 72
